.reviewbox {
    max-height: 440px;
    overflow-y: auto;
}

/* 스크롤바 설정*/
.reviewbox::-webkit-scrollbar{
    width: 4px;
    height: 140px;
    border-radius: 7px;
    cursor: pointer;
}

.reviewbox::-webkit-scrollbar-track { 
    background-color: transparent; 
    width: 4px;
}


/* 스크롤바 막대 설정*/
.reviewbox::-webkit-scrollbar-thumb{
    display: block;
    background: #C4C4C4;
    border-radius: 7px;
    width: 4px;
    height: 30px;
}