.img-stone {
    position: absolute;
    cursor: pointer;
}

.orange {
    left: 0%;
    right: 25.13%;
    top: 0%;
    bottom: 39.64%;
}

.yellow {
    left: 45.41%;
    right: 8.08%;
    top: 49.9%;
    bottom: 3.18%;
}

.blue {
    left: 6%;
    right: 57.72%;
    top: 68.72%;
    bottom: 0%;
}

.basic-info-dot {
    position: absolute;
    top: 0px;
    left: -5px;
}

.card-img {
    background: #B1B1B1;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 25px 25px 0 0;
}