/* color */
.tag-color1 {
    color: var(--color-4);
}


/* bgcolor */
.tag-blue {
    background-color: var(--color-blue);
}

.tag-yellow {
    background-color: var(--color-yellow);
}

.tag-orange {
    background-color: var(--color-point);
}

.tag-grey {
    background-color: var(--color-4);
    color: var(--color-3);
    border: 1px solid var(--color-3);
}

/* className */
.tagging-tag {
    cursor: pointer;
}