.input {
    width: 100%;
    border-radius: 30px;
}

.input::placeholder {
    font-size: var(--size-18);
    font-weight: 400;
}

.input:focus {
    outline: none;
    /* background: transparent; */
}


/* w */
.input-short-short {
    width: 41.54%;
}

.input-short {
    width: 55.36%;
}


/* className */
.info-review-input {
    border: 1px solid #C2C2C2;
    padding: 25px 0px 25px 25px;
}

.add-toy-input {
    background: #F0F0F0;
    border: none;
    padding: 25px 0 25px 35px;
    box-sizing: border-box;
    color: var(--color-3);
}

.add-toy-input:focus {
    color: var(--color-1);
}

.add-toy-active {
    background: white;
    border: 1px solid #D9D9D9;
}

.tagging-input {
    background: transparent;
    border: none;
    padding-left: 22px;
    color: var(--color-3);
}

.add-toy-input::placeholder {
    font-size: var(--size-15);
    color: var(--color-3);
}


/* id */
#file-input {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}