.project-main-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
    grid-row-gap: 60px;
    padding: 0 0 197px 0;
}

.project-info-body {
    padding: 36px 110px 197px 110px;
}

.project-info-body-review {
    margin-top: 94px;
}

.project-add-body {
    padding: 36px 110px 197px 110px;
}